@{
    ViewBag.Title = "Enhanced Listings Manager";
}

<div class="row">
    <div class="col-md-4">
        <br />
        <form>
            <div style="padding:5px; float:left;" class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" />
            </div>
            <div style="padding:5px; float:left;" class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" />
            </div>
            <div style="padding:5px; float:left;" class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" />
            </div>

            @*<button type="submit" class="btn btn-primary mb-2">Submit</button>*@
</form>

    </div>
</div>